/*  
color: rgba(255, 255, 255, 0.87);
background-color: #242424;
 */


body {
  /* fallback for old browsers */
  /* background: linear-gradient(to right, #004e92, #000428);  */
  background: linear-gradient(to right, #0072C6, #00A4E4);

  /* background: linear-gradient(to right, #9C9EB9, #BDBDD7, #D1D0E7); */

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h3 {
  color: #00A4E4;
}

h2 {
  color: #0072C6;
}